{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-6 custom-column">
          <h2>List of Categories</h2>
          <ul class="list-group">
            {% for category in categories %}
              <li class="list-group-item">
                <span class="tag tag-default tag-pill float-xs-right">
                  {{ category.items|length }}
                </span>
                <a href="{{ url_for('show_items',
                  category_name=category.name) }}">{{ category.name }}</a>
              </li>
            {% endfor %}
            <li class="list-group-item">
              <a href="/">All items</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 custom-column">
          {% if category %}
            <h2>
              {{ category.name }} Items ({{ category.items|length }} item(s))
            </h2>
            <ul class="list-group">
              {% for item in category.items %}
                <li>
                  <a href="{{ url_for('view_items',
                    category_name=category.name,item_name=item.name) }}">
                    {{ item.name }}
                  </a>
                </li>
              {% endfor %}
            </ul>

          {% else %}
            <h2>Latest Items Added</h2>
            {% for item in items %}
              <ul class="nav nav-sidebar latest-items">
                <li>
                  <a href="{{ url_for('view_items',
                    category_name=item.category.name,item_name=item.name) }}">
                    {{ item.name }}
                  </a>
                  <span class="tag tag-default tag-pill">
                    {{ item.category.name }}
                  </span>
                </li>
              </ul>
            {% endfor %}
          {% endif %}
        </div>
    </div>

{% endblock %}
